MYSQL_ROOT_PASSWORD=
DATABASE_CLIENT=mysql
DATABASE_URL=
DATABASE_HOST=127.0.0.1
DATABASE_PORT=3306
DATABASE_NAME=
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_SSL=false

# Email (mail.ru)
SMTP_HOST=smtp.mail.ru
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USERNAME=alfa-realting.ru@mail.ru
# ВАЖНО: для Mail.ru нужен пароль внешнего приложения, а не обычный пароль от почты
SMTP_PASSWORD=
SMTP_DEFAULT_FROM=alfa-realting.ru@mail.ru
SMTP_DEFAULT_REPLY_TO=alfa-realting.ru@mail.ru
SMTP_CONNECTION_TIMEOUT=10000

