@font-face {
  font-family: 'Overpass';
  src: url('/fonts/overpass_regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Overpass';
  src: url('/fonts/overpass_medium.woff2') format('woff2');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Overpass';
  src: url('/fonts/overpass_bold.woff2') format('woff2');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}