@use "mixins.scss" as mixins;
@use "fonts.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  color: theme('colors.black');
}

html {
  @include mixins.custom-scroll-bar();
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  width: 100%;
  overflow: auto;
}


.raw-html-embed {
  @include mixins.h();
  @include mixins.p();
  @include mixins.ul();
  @include mixins.ol();
  @include mixins.blockquote();
  @include mixins.link();
  @include mixins.img();
  @include mixins.button();
}