@mixin custom-scroll-bar {
  scrollbar-color: rgba(#C3BCB3, 0.5) transparent;
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }

  &::-webkit-scrollbar-track {
    background-color: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(#C3BCB3, 0.5);
    border-radius: 20px;
  }
}

@mixin hover() {
  @media (hover: hover) and (pointer: fine) {
    @content;
  }
}

// @mixin h() {
//   > h1 {
//     @apply h1;
//     padding-bottom: theme('spacing.pad-md');
//   }
//
//   > h2 {
//     @apply h2;
//     padding-bottom: theme('spacing.pad-md');
//   }
//
//   > h3 {
//     @apply h3;
//     padding-bottom: theme('spacing.pad-xs');
//   }
//
//   > h4, h5, h6 {
//     @apply h4;
//     padding-bottom: theme('spacing.pad-xs');
//   }
// }
//
// @mixin p($small: false) {
//   > p {
//     @if $small == true {
//       @apply h5;
//     } @else {
//       @apply h4;
//     }
//
//     padding-bottom: theme('spacing.pad-xs');
//   }
// }

// @mixin ul() {
//   > ul {
//     display: flex;
//     flex-direction: column;
//
//     li {
//       @apply h4;
//
//       display: inline-flex;
//       padding-bottom: theme('spacing.pad-xs');
//       gap: theme('spacing.grid-3xs');
//
//       &:before {
//         content: '';
//         width: theme('size.sz-16');
//         height: theme('size.sz-16');
//         background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='20' height='20' viewBox='0 0 20 20' fill='none'%3E%3Ccircle cx='10' cy='10' r='3' fill='%23A49E94'/%3E%3C/svg%3E");
//         background-position: center;
//         background-repeat: no-repeat;
//         background-size: contain;
//         flex-shrink: 0;
//       }
//     }
//   }
// }
//
// @mixin ol() {
//   > ol {
//     display: flex;
//     flex-direction: column;
//     counter-reset: item;
//
//     li {
//       @apply h4;
//
//       display: inline-flex;
//       padding-bottom: theme('spacing.pad-xs');
//       gap: theme('spacing.grid-3xs');
//       counter-increment: item;
//
//       &:before {
//         content: counter(item)".";
//         text-align: center;
//         width: theme('size.sz-16');
//         height: theme('size.sz-16');
//         flex-shrink: 0;
//       }
//     }
//   }
// }
//
// @mixin blockquote() {
//   > blockquote {
//     @apply h4 rounded;
//     position: relative;
//     padding: theme('spacing.pad-md') theme('spacing.pad-xl');
//     color: theme('colors.grey-dark');
//     background-color: theme('colors.grey-light');
//     font-style: italic;
//     margin-bottom: theme('spacing.grid-md');
//
//     &:before,
//     &:after {
//       display: inline-flex;
//       position: absolute;
//       font-size: 34px;
//       font-weight: 400;
//     }
//
//     &:before {
//       top: 12px;
//       left: 2px;
//       content: '“';
//     }
//
//     &:after {
//       content: '”';
//       bottom: -10px;
//       right: 10px;
//     }
//   }
// }

// @mixin link() {
//   a {
//     @apply h4 transition-colors hover:text-red;
//     text-decoration: underline;
//   }
// }
//
// @mixin img() {
//   img {
//     @apply aspect-video rounded;
//     margin-bottom: theme('spacing.grid-md');
//   }
// }
//
// @mixin button() {
//   button {
//     @apply h6 uppercase bg-red px-pad-sm rounded text-white py-pad-3xs transition-colors hover:bg-blue;
//   }
// }